@font-face {
  font-family: montserrat;
  src: url(./montserrat/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #302535;
  background-size: cover;
  color: #ECFBFF;
  font-size: 18px;
  font-family: montserrat, sans-serif;
}

section {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: baseline;
}
section.split-left {
  width: 72%;
}
section.split-right {
  width: 28%;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

body, section, div {
  position: relative;
}

div, h1, h2, h3 {
  width: 100%;
  margin: 16px 0;
}

a {
  margin: 6px 0;
  text-decoration: none;
}
a, a:visited {
  color: #af45cc;
}

img {
  width: 32px;
}

.button {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  background-color: #333333;
  padding: 18px;
  border-radius: 12px;
  margin: 6px;
}
.button:first-of-type {
  margin-left: 0px;
  margin-right: 0px;
}
.button[selected=true] {
  background-color: #af45cc;
  color: #ECFBFF;
}
.button.icon {
  background-color: #222222;
  padding: 2px;
}
.button img {
  width: 120px;
}

.file-list {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.file-list[files-found=false] {
  height: 200px;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.file-list[files-found=false] .item {
  display: none;
}
.file-list[files-found=true] {
  height: auto;
  max-height: 312px;
  overflow-y: scroll;
}
.file-list[files-found=true] .status-no-files {
  display: none;
}
.file-list .item {
  width: 85%;
  margin: 2px 0;
}

canvas {
  position: absolute;
  z-index: 0;
}

footer {
  position: absolute;
  width: 99%;
  bottom: 10px;
  text-align: right;
}
footer span {
  font-style: italic;
  color: lightgray;
}

@media screen and (max-width: 915px) {
  section.split-left, section.split-right {
    width: 100%;
  }
}