.audiofile-spikeball {
  position: absolute;
  top: 80%;
  transform: rotateZ(60deg);
}
.audiofile-spikeball .item {
  position: absolute;
  width: 500px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.audiofile-spikeball .item:nth-of-type(0) {
  transform: translate(0px, 0px) rotateZ(0deg);
}
.audiofile-spikeball .item:nth-of-type(1) {
  transform: translate(30px, 30px) rotateZ(-8deg);
}
.audiofile-spikeball .item:nth-of-type(2) {
  transform: translate(60px, 60px) rotateZ(-16deg);
}
.audiofile-spikeball .item:nth-of-type(3) {
  transform: translate(90px, 90px) rotateZ(-24deg);
}
.audiofile-spikeball .item:nth-of-type(4) {
  transform: translate(120px, 120px) rotateZ(-32deg);
}
.audiofile-spikeball .item:nth-of-type(5) {
  transform: translate(150px, 150px) rotateZ(-40deg);
}
.audiofile-spikeball .item:nth-of-type(6) {
  transform: translate(180px, 180px) rotateZ(-48deg);
}
.audiofile-spikeball .item:nth-of-type(7) {
  transform: translate(210px, 210px) rotateZ(-56deg);
}
.audiofile-spikeball .item:nth-of-type(8) {
  transform: translate(240px, 240px) rotateZ(-64deg);
}
.audiofile-spikeball .item:nth-of-type(9) {
  transform: translate(270px, 270px) rotateZ(-72deg);
}
.audiofile-spikeball .item:nth-of-type(10) {
  transform: translate(300px, 300px) rotateZ(-80deg);
}
.audiofile-spikeball .item:nth-of-type(11) {
  transform: translate(330px, 330px) rotateZ(-88deg);
}
.audiofile-spikeball .item:nth-of-type(12) {
  transform: translate(360px, 360px) rotateZ(-96deg);
}
.audiofile-spikeball .item:nth-of-type(13) {
  transform: translate(390px, 390px) rotateZ(-104deg);
}
.audiofile-spikeball .item:nth-of-type(14) {
  transform: translate(420px, 420px) rotateZ(-112deg);
}
.audiofile-spikeball .item:nth-of-type(15) {
  transform: translate(450px, 450px) rotateZ(-120deg);
}
.audiofile-spikeball .item:nth-of-type(16) {
  transform: translate(480px, 480px) rotateZ(-128deg);
}
.audiofile-spikeball .item:nth-of-type(17) {
  transform: translate(510px, 510px) rotateZ(-136deg);
}
.audiofile-spikeball .item:nth-of-type(18) {
  transform: translate(540px, 540px) rotateZ(-144deg);
}
.audiofile-spikeball .item:nth-of-type(19) {
  transform: translate(570px, 570px) rotateZ(-152deg);
}
.audiofile-spikeball .item:nth-of-type(20) {
  transform: translate(600px, 600px) rotateZ(-160deg);
}
.audiofile-spikeball .item:nth-of-type(21) {
  transform: translate(630px, 630px) rotateZ(-168deg);
}
.audiofile-spikeball .item:nth-of-type(22) {
  transform: translate(660px, 660px) rotateZ(-176deg);
}
.audiofile-spikeball .item:nth-of-type(23) {
  transform: translate(690px, 690px) rotateZ(-184deg);
}
.audiofile-spikeball .item:nth-of-type(24) {
  transform: translate(720px, 720px) rotateZ(-192deg);
}
.audiofile-spikeball .item:nth-of-type(25) {
  transform: translate(750px, 750px) rotateZ(-200deg);
}
.audiofile-spikeball .item:nth-of-type(26) {
  transform: translate(780px, 780px) rotateZ(-208deg);
}
.audiofile-spikeball .item:nth-of-type(27) {
  transform: translate(810px, 810px) rotateZ(-216deg);
}
.audiofile-spikeball .item:nth-of-type(28) {
  transform: translate(840px, 840px) rotateZ(-224deg);
}
.audiofile-spikeball .item:nth-of-type(29) {
  transform: translate(870px, 870px) rotateZ(-232deg);
}
.audiofile-spikeball .item:nth-of-type(30) {
  transform: translate(900px, 900px) rotateZ(-240deg);
}
.audiofile-spikeball .item:nth-of-type(31) {
  transform: translate(930px, 930px) rotateZ(-248deg);
}
.audiofile-spikeball .item:nth-of-type(32) {
  transform: translate(960px, 960px) rotateZ(-256deg);
}
.audiofile-spikeball .item:nth-of-type(33) {
  transform: translate(990px, 990px) rotateZ(-264deg);
}
.audiofile-spikeball .item:nth-of-type(34) {
  transform: translate(1020px, 1020px) rotateZ(-272deg);
}
.audiofile-spikeball .item:nth-of-type(35) {
  transform: translate(1050px, 1050px) rotateZ(-280deg);
}
.audiofile-spikeball .item:nth-of-type(36) {
  transform: translate(1080px, 1080px) rotateZ(-288deg);
}
.audiofile-spikeball .item:nth-of-type(37) {
  transform: translate(1110px, 1110px) rotateZ(-296deg);
}
.audiofile-spikeball .item:nth-of-type(38) {
  transform: translate(1140px, 1140px) rotateZ(-304deg);
}
.audiofile-spikeball .item:nth-of-type(39) {
  transform: translate(1170px, 1170px) rotateZ(-312deg);
}
.audiofile-spikeball .item:nth-of-type(40) {
  transform: translate(1200px, 1200px) rotateZ(-320deg);
}
.audiofile-spikeball .item svg {
  position: absolute;
}
.audiofile-spikeball .item .info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.audiofile-spikeball .item .info #info-artist-name::after {
  content: "-";
  margin: 0 10px;
}