* {
  margin: 0;
  padding: 0;
  z-index: 1;
  font-family: Poppins, sans-serif;
}

html {
  width: 100vw;
  overflow: hidden;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(120deg, rgba(46, 37, 50, 0.6), rgb(46, 37, 50)), url(./img/background.jpg), #2E2532;
  background-size: cover;
  color: #ECFBFF;
  font-size: 14px;
}

.svg-element {
  position: absolute;
  width: 100%;
}

main {
  position: absolute;
  width: 100%;
  min-width: 300px;
  max-width: 420px;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: baseline;
}
main:nth-of-type(1) {
  width: auto;
}
main.center-control-panel {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 75%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
main.center-control-panel .left, main.center-control-panel .right {
  width: 320px;
  pointer-events: all;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}
main.suit-mode-selection {
  position: absolute;
  bottom: 0;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
}
main.audioplayer {
  width: auto;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body, div {
  position: relative;
}

body, nav, footer, h1, h2, h3 {
  width: 100%;
}

h1, h2, h3 {
  margin: 16px 0;
}

input {
  cursor: pointer;
}

a {
  margin: 6px 0;
  text-decoration: none;
}
a, a:visited {
  color: #af45cc;
}

img {
  width: 32px;
}

.bottom-svg-element {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.status-info-container {
  display: ruby;
}
.status-info-container .item {
  cursor: default;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  margin: 2px;
}
.status-info-container .item .circle {
  position: absolute;
  border-radius: 50%;
}
.status-info-container .item .circle.a {
  width: 74%;
  height: 74%;
  opacity: 0.8;
  border: solid #fff 1px;
  filter: blur(4px);
}
.status-info-container .item .circle.b {
  width: 90%;
  height: 90%;
  border: solid #fff 1px;
}
.status-info-container .item .circle.c {
  opacity: 0.7;
  width: 94%;
  height: 94%;
  border: solid #fff 1px;
}
.status-info-container .item .circle.d {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  border: dotted #fff 2px;
  animation: rotatingCircleAnim 2s infinite linear;
}
.status-info-container .item .circle.e {
  width: 112%;
  height: 112%;
  opacity: 0.4;
  border: solid #fff 1px;
  filter: blur(4px);
}
.status-info-container .item span {
  margin: 1px;
}
.status-info-container .item .status {
  font-size: 28px;
}

@keyframes rotatingCircleAnim {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
.status-connections-container {
  display: ruby;
}
.status-connections-container .item {
  cursor: default;
  width: 76px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  margin: 3px;
}
.status-connections-container .item[connected=true] .circle.b {
  border: solid lime 1px;
}
.status-connections-container .item .circle {
  position: absolute;
  border-radius: 50%;
  border: solid #fff 1px;
}
.status-connections-container .item .circle.a {
  width: 74%;
  height: 74%;
  opacity: 0.8;
  border: solid #fff 1px;
  filter: blur(4px);
}
.status-connections-container .item .circle.b {
  opacity: 0.8;
  width: 90%;
  height: 90%;
  border: solid red 1px;
}
.status-connections-container .item .circle.d {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  border: dotted #fff 2px;
  animation: rotatingCircleAnim 2s infinite linear;
}

.button {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  background-color: #333333;
  padding: 18px;
  border-radius: 12px;
  margin: 6px;
}
.button:first-of-type {
  margin-left: 0px;
  margin-right: 0px;
}
.button[selected=true] {
  color: #ECFBFF;
}
.button[selected=true], .button[selected=true].icon, .button[selected=true].small-icon {
  background-color: #af45cc;
}
.button[selected=true] img, .button[selected=true]:hover img {
  filter: brightness(0.78) sepia(100%) saturate(500%) hue-rotate(45deg);
}
.button.icon {
  background-color: #222222;
  padding: 2px;
  cursor: pointer;
}
.button.icon img {
  width: 100px;
}
.button.small-icon {
  background-color: #222222;
  padding: 12px;
  cursor: pointer;
}
.button.small-icon:hover img {
  filter: brightness(0.78) sepia(100%) saturate(300%) hue-rotate(45deg);
}
.button img {
  width: 4spx;
}

.button-fullscreen {
  position: absolute;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: #261d46;
  border-radius: 12px;
  padding: 10px;
  right: 0;
  bottom: 15px;
  transition: transform 0.2s ease-out;
}
.button-fullscreen:hover {
  transform: scale(104%);
}
.button-fullscreen img {
  width: 32px;
}

.audio-player {
  width: 270px;
  background-color: #261d46;
  border-radius: 8px;
  padding: 12px;
}

.audiofiles-vertical, .audiofiles-horizontal {
  width: 100%;
  display: flex;
  margin: 6px 0;
}
.audiofiles-vertical[files-found=false], .audiofiles-horizontal[files-found=false] {
  height: 200px;
  align-items: center;
  justify-content: center;
}
.audiofiles-vertical[files-found=false] .item, .audiofiles-horizontal[files-found=false] .item {
  display: none;
}
.audiofiles-vertical[files-found=true], .audiofiles-horizontal[files-found=true] {
  height: auto;
  max-height: 312px;
}
.audiofiles-vertical[files-found=true] .status-no-files, .audiofiles-horizontal[files-found=true] .status-no-files {
  display: none;
}
.audiofiles-vertical .item, .audiofiles-horizontal .item {
  width: 85%;
}

.audiofiles-vertical {
  flex-direction: column;
}
.audiofiles-vertical[files-found=true] {
  overflow-y: scroll;
}
.audiofiles-vertical[files-found=false] {
  overflow-y: hidden;
}
.audiofiles-vertical .item {
  margin: 2px 0;
}

.audiofiles-horizontal {
  flex-direction: row;
}
.audiofiles-horizontal > a {
  flex: 50%;
}
.audiofiles-horizontal[files-found=true] {
  overflow-x: scroll;
}
.audiofiles-horizontal[files-found=false] {
  overflow-x: hidden;
}
.audiofiles-horizontal .item {
  margin: 0 2px;
}

canvas {
  position: absolute;
  z-index: 0;
}

footer {
  position: absolute;
  width: 99%;
  bottom: 10px;
  text-align: center;
}
footer span {
  font-style: italic;
  color: lightgray;
}

@media screen and (max-width: 915px) {
  section.split-left, section.split-right {
    width: 100%;
  }
}